.mainMenu {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
  
  width: 120px;
}

.mainMenu .userIcon {
  width: 74px;
  height: 74px;
  margin-top: 42px;
  
  object-fit: cover;
  border: solid 2px #335BCA;
  border-radius: 50%;
}

.mainMenu nav {
  display: flex;
  flex-direction: column;
}

.mainMenu nav a {
  text-decoration: none;
}

.mainMenu nav span {
  color: #FFFFFF;
}

.mainMenu nav svg {
  fill: #6C6C77;
  height: 50px;
  width: auto;
  margin: 10px 0;
}

.mainMenu nav .onPage svg {
  fill: #FFFFFF;
}

@media screen and (max-width: 1377px) {
  .mainMenu {
    width: 90px;
  }
  .mainMenu .userIcon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 505px) {
  .mainMenu {
    width: 70px;
  }
  .mainMenu .userIcon {
    width: 40px;
    height: 40px;
  }
  .mainMenu nav svg {
    height: 30px;
  }
}
