.mainMenu {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
  
  background-color: #22222E;
  width: 120px;
}

.mainMenu .userIcon {
  width: 74px;
  height: 74px;
  margin-top: 42px;
  
  object-fit: cover;
  border: solid 2px #ffe115;
  border-radius: 50%;
}

.mainMenu nav {
  display: flex;
  flex-direction: column;
}

.mainMenu nav a {
  text-decoration: none;
}

.mainMenu nav svg {
  fill: #6C6C77;
  height: 50px;
  width: auto;
  margin: 10px 0;
}

.mainMenu nav .onPage svg {
  fill: #FFFFFF;
}

.mainMenu .MuiButton-root {
  margin-bottom: 20px;
}

.mainMenu .modalButton svg {
  fill: #6C6C77;
  height: 50px;
  width: auto;
}

@media screen and (max-width: 1377px) {
  .mainMenu {
    width: 60px;
  }
  .mainMenu .userIcon {
    width: 40px;
    height: 40px;
    border: solid 1px #ffe115;
  }
  .mainMenu nav svg,
  .mainMenu .modalButton svg {
    height: 30px;
  }
}

@media screen and (max-width: 505px) {
  .mainMenu {
    width: 50px;
  }
  .mainMenu .userIcon {
    width: 29px;
    height: 29px;
  }
  
  .mainMenu nav svg,
  .mainMenu .modalButton svg {
    height: 25px;
  }
}
