.mainMenu {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
  
  border-radius: var(--default-radius);
  width: 120px;
}

.mainMenu .userIcon {
  width: 74px;
  height: 74px;
  margin-top: 42px;
  
  object-fit: cover;
  border: solid 2px #335BCA;
  border-radius: 50%;
}
