.login {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #22222E;
  padding: calc(var(--deafult-top-padding)/2);
  overflow-y: hidden;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 400px;
}

.login form input {
  background-color: #FFFFFF;
  height: 80px;
  width: 100%;
  
  margin-bottom: 18px;
  padding: 12px;
  border: none;
  border-radius: 18px;
  font-size: 2.6rem;
}

.login form .mainButton .MuiButton-label {
  font-size: 3rem;
}

@media screen and (min-width: 2000px) {
  .login form {
    max-width: 700px;
  }
  .login form input {
    height: 100px;
    margin-bottom: 30px;
  }
  .login .mainButton .MuiButton-root {
    height: 140px;
  }
  .login form .mainButton .MuiButton-label {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1533px) {
  .login form input {
    height: 50px;
  }
}

@media screen and (max-width: 520px) {
  .login form .mainButton {
    max-width: 100%;
  }
} 
