.MessageElement {
  display: flex;
  flex-direction: column;
}

.MessageElement .messageLine {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}
.MessageElement:first-of-type .messageLine {
  margin-top: 20px;
}

.MessageElement .messageLine .messageBlock {
  display: flex;
  flex-direction: column;
}

.messageBlock .aboutThisMessage {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}

.aboutThisMessage span {
  display: flex;
  margin: 0 10px;
}

.aboutThisMessage .profilePhoto {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  overflow: hidden;  
  object-fit: cover;
}

.messageBlock .content p {
  max-width: 100%;
  padding: 8px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  
  word-wrap: break-word;
  line-height: 24px;
}

#client p {
  background-color: #ffffff;
  border-radius: 0px 18px 18px 18px;
}

/* *** */
#client .aboutThisMessage span {
  display: flex;
  flex-direction: row;
}

#client .arrow {
  position: relative;
  top: 0; 
  left: 0;
  border-top: 10px solid #F7F7F9;
  border-left: 10px solid #ffffff;
  width: 0;
}

#client .content {
  display: flex;
  flex-direction: row;
}

#attendant p {
  background-color: #d1fadf;
  border-radius: 18px 0px 18px 18px;
}

#attendant .aboutThisMessage {
  display: flex;
  flex-direction: row-reverse;
}

#attendant .aboutThisMessage span {
  display: flex;
  flex-direction: row-reverse;
}

#attendant .arrowAlign {
  display: flex;
  flex-direction: row-reverse;
}

#attendant .arrow {
  position: relative;
  top: 0; 
  left: 0;
  border-top: 10px solid #F7F7F9;
  border-right: 10px solid #d1fadf;
  width: 0;
}

#attendant .content {
  display: flex;
  flex-direction: row-reverse;
}
