.restaurantOpening {
  display: flex;
  padding: 20px;
}

.restaurantOpening .line {
  height: auto;
  width: 2px;
  margin: 0 20px;
  background-color: #dddddd;
}

.restaurantOpening .mainButton {
  width: 100vw;
}

.restaurantOpening .MuiButton-label {
  letter-spacing: 0.25rem;
  margin: 0 12px;
}

.restaurantOpening .info {
  display: flex;
  align-items: center;
  white-space: nowrap
}

/* SVG */
.restaurantOpening .info svg {
  height: 40px;
  width: auto;
  margin-left: 20px;
  transition: 0.5s;
}

.restaurantOpening .info svg.open {
  fill: #00ff00;
}
.restaurantOpening .info svg.closed {
  fill: #e92222;
}
/* *** */

@media screen and (max-width: 1440px) {
  .restaurantOpening .MuiButton-root {
    height: 70px;
  }
  .restaurantOpening .line {
    width: 1px;
  }
}

@media screen and (max-width: 1000px) {
  .restaurantOpening .MuiButton-root {
    height: 60px;
  }
  .restaurantOpening .info svg {
    height: 30px;
  }
}

@media screen and (max-width: 700px) {
  .restaurantOpening .MuiButton-root {
    height: 50px;
  }
}

@media screen and (max-width: 599px) {
  .restaurantOpening {
    flex-direction: column;
  }
  .restaurantOpening .mainButton {
    width: auto;
  }  
  .restaurantOpening .line {
    height: 1px;
    width: auto;
    margin: 15px 0;
  }
}
