.restaurantOpeningBox {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 20px;
}
.restaurantOpening {
  display: flex;
}

.restaurantOpening .line {
  height: auto;
  width: 2px;
  margin: 0 20px;
  background-color: #dddddd;
}

.restaurantOpening .mainButton {
  width: 100vw;
}

.restaurantOpening .MuiButton-label {
  letter-spacing: 0.25rem;
  margin: 0 12px;
}

.restaurantOpening .info {
  display: flex;
  align-items: center;
  white-space: nowrap
}

/* SVG */
.restaurantOpening .info svg {
  height: 40px;
  width: auto;
  margin-left: 20px;
  transition: 0.5s;
}

.restaurantOpening .info svg.open {
  fill: #00ff00;
}
.restaurantOpening .info svg.closed {
  fill: #e92222;
}
/* *** */

/* Expected Delivery Time  */
.expectedDeliveryTime {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.expectedDeliveryTime .actions {
  display: flex;
  align-items: center;
}

.expectedDeliveryTime label {
  font-size: 2.2rem;
  margin-right: 10px;
}

.expectedDeliveryTime .MuiTextField-root {
  max-width: 14em;
}

.expectedDeliveryTime .MuiTextField-root input {
  font-size: 3rem !important;
}

.expectedDeliveryTime .MuiIconButton-root {
  width: 60px;
  height: 60px;
  margin-left: 8px;
}

.expectedDeliveryTime svg {
  width: 110%;
  height: auto;
  fill: #ffe115;
  margin-left: 6px;
}
/* *** */

@media screen and (max-width: 1440px) {
  .restaurantOpening .MuiButton-root {
    height: 70px;
  }
  .restaurantOpening .line {
    width: 1px;
  }
}

@media screen and (max-width: 1000px) {
  .restaurantOpening .MuiButton-root {
    height: 60px;
  }
  .restaurantOpening .info svg {
    height: 30px;
  }
}

@media screen and (max-width: 700px) {
  .restaurantOpening .MuiButton-root {
    height: 50px;
  }
}

@media screen and (max-width: 599px) {
  .restaurantOpening {
    flex-direction: column;
  }
  .restaurantOpening .mainButton {
    width: auto;
  }  
  .restaurantOpening .line {
    height: 1px;
    width: auto;
    margin: 15px 0;
  }
  .expectedDeliveryTime {
    flex-direction: column-reverse;
  }
  .expectedDeliveryTime .MuiTextField-root {
    max-width: none;
  }
}
