.restaurantOpening {
  display: flex;
  padding: 20px;
}

.restaurantOpening .line {
  height: auto;
  width: 2px;
  margin: 0 20px;
  background-color: #dddddd;
}

.restaurantOpening .MuiButton-root {
  background-color: #ffe115 !important;
  height: 90px;
  border-radius: 18px;
}

.restaurantOpening .MuiButton-label {
  color: #FFFFFF;
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin: 0 12px;
}

.restaurantOpening .info {
  display: flex;
  align-items: center;
}

.restaurantOpening .info svg {
  fill: #00ff00;
  height: 70px;
  width: auto;
  margin-left: 20px;
}

@media screen and (max-width: 1440px) {
  .restaurantOpening .MuiButton-root {
    height: 70px;
  }
  .restaurantOpening .line {
    width: 1px;
  }
}

@media screen and (max-width: 1000px) {
  .restaurantOpening .MuiButton-root {
    height: 60px;
  }
  .restaurantOpening .info svg {
    height: 60px;
  }
}

@media screen and (max-width: 700px) {
  .restaurantOpening .MuiButton-root {
    height: 50px;
  }
  .restaurantOpening .info svg {
    height: 50px;
  }
}

@media screen and (max-width: 599px) {
  .restaurantOpening {
    flex-direction: column;
  }
  .restaurantOpening .line {
    height: 1px;
    width: auto;
    margin: 15px 0;
  }
}

@media screen and (max-width: 370px) {
  .restaurantOpening .info svg {
    display: none;
  }
}
