.money .pageContent {
  width: 100%;
  padding: var(--deafult-top-padding);
  background-color: #F7F7F9;
}

.money .pageContent header h1 {
  margin-bottom: 10px;
}

.money .pageContent .balance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc( 100% - 116px );
  margin: 20px 0;
}

/* Total balance */
.money .pageContent .balance .totalBalance {
  width: 100%;
  height: fit-content;
  background-color: #FFFFFF;
  padding: 40px;
  margin-bottom: 80px;

  border-radius: 18px;
  box-shadow: 9px 9px 41px 0px rgba(122,122,122,0.31);
}

.money .pageContent .balance .totalBalance span {
  font-size: 2.2rem;
}

.money .pageContent .balance .totalBalance h2 {
  font-size: 4.2rem;
  margin-top: 25px;
}

/* Historic */
.money .pageContent .balance .historic {
  height: 100%;
  width: 100%;
}

.money .pageContent .balance .historic .date {
  font-weight: 900;
}

.money .pageContent .balance .historic .underLine {
  background-color: #dddddd;
  width: auto;
  height: 1px;
  margin: 20px 0 40px;
}

.money .pageContent .balance .historic .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.money .pageContent .balance .historic 
  .transaction .info p:first-of-type {
    margin-bottom: 3px;
  }

.money .pageContent .balance .historic .transaction .price {
  font-size: 2.5rem;
}
/* *** */

@media screen and (max-width: 770px) {
  .money .pageContent {
    padding: calc(var(--deafult-top-padding)/2);
  }
}

@media screen and (max-width: 700px) {
  .money .pageContent {
    padding: calc(var(--deafult-top-padding)/4);
  }
}
