.requests .TasksFilter {
  height: calc( 100vh - 224px);
  margin-top: 24px;
  overflow: auto;
}

.requests .TasksFilter,
.requests .TasksFilter .MuiRadio-root {
  width: 100%;
  border-radius: 18px;
}

.requests .TasksFilter .MuiIconButton-root {
  padding: 6px 0;
}

.requests .TasksFilter .MuiFormControlLabel-root {
  margin: 0;
}
