.foodMenu {
  background-color: #F7F7F9;
}

.foodMenu .pageContent {
  padding: var(--deafult-top-padding);
  width: 100%;
}

.foodMenu .pageContent .delayWarning {
  color: #6D6D6D;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Search Box */
.foodMenu .pageContent .searchBox {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 850px;
  height: 70px;

  border-radius: 18px;
  background-color: #FFFFFF;
}

.foodMenu .pageContent .searchBox label {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
}

.foodMenu .pageContent .searchBox svg {
  height: 60%;
  width: auto;
  fill: #6D6D6D;
}

.foodMenu .pageContent .searchBox input {
  width: 100%;
  height: 100%;
  background: none;
  padding: 12px;
  
  border: 0;
  font-size: 2.4rem;
  color: #6d6d6db4;
}

.foodMenu .pageContent .searchBox input::placeholder {
  color: #6d6d6db4;
}
/* *** */

.foodMenu .pageContent .itensList {
  height: calc( 100% - 236px);
  overflow: auto;
  margin-top: 20px;
}

.foodMenu .pageContent .itensList .MuiTableContainer-root {
  margin-bottom: 30px;
}

.foodMenu .pageContent .itensList .MuiTable-root h2 {
  color: #335BCA;
}

@media screen and (max-width: 770px) {
  .foodMenu .pageContent {
    padding: calc(var(--deafult-top-padding)/2);
  }
  .foodMenu .pageContent .delayWarning {
    margin-top: 20px;
  }
  .foodMenu .pageContent .searchBox {
    height: 40px;
  }
  .foodMenu .pageContent .itensList {
    height: calc( 100% - 170px);
  }
}

@media screen and (max-width: 700px) {
  .foodMenu .pageContent {
    padding: calc(var(--deafult-top-padding)/4);
  }
}

@media screen and (max-width: 515px) {
  .foodMenu .pageContent .itensList {
    height: calc( 100% - 210px);
  }
}
