.submitItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #dddddd;
}

.submitItem input[type=text], 
.submitItem textarea {
  min-width: 100%;
  max-width: 100%;
  height: 50px;
  
  margin: 10px 0;
  padding: 20px;
  border-radius: 18px;
}

.submitItem textarea {
  height: 200px;
}

.submitItem .titleLine {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submitItem .titleLine .MuiInputBase-root {
  width: 90%;
}
.submitItem .titleLine .MuiSelect-select {
  font-size: 1.6rem;
  margin-left: 10px;
  background: none;
}

.submitItem .titleLine .MuiSelect-select .MuiMenuItem-root {
  font-size: 1.6rem;
}

/* price */
.submitItem .price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submitItem .price .promotion {
  display: flex;
  align-items: center;
}

/* promotion switch */
.submitItem .price .promotion .Mui-checked .MuiSwitch-thumb {
  transition: 0.4s;
  background-color: #ffe115;
}

.submitItem .price .promotion .Mui-checked + .MuiSwitch-track {
  transition: 0.4s;
  background-color: #c2a800;
}
/* *** */
/* *** */

.submitItem .MuiDialogActions-root {
  justify-content: space-between;
}

.submitItem #deleteItem .MuiButton-root{
  background-color: #e92222;
}

@media screen and (min-width: 1440px) {
  .submitItem input {
    height: 70px;
  }
  .submitItem textarea {
    height: 350px;
  }
}

@media screen and (min-width: 670px) {
  .submitItem .titleLine {
    flex-direction: row;
  }  
  .submitItem .titleLine input {
    min-width: 40%;
    max-width: 40%;
  }
  .submitItem .titleLine .MuiInputBase-root {
    width: 56%;
  }
}

@media screen and (min-width: 450px) {
  .submitItem .price {
    flex-direction: row;
  }
  .submitItem.update .price input.formatedPrice {
    min-width: calc( 100% - 200px);
    max-width: calc( 100% - 200px);
  }
}
