.submitItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #dddddd;
}

.submitItem input, 
.submitItem textarea {
  min-width: 100%;
  max-width: 100%;
  height: 50px;

  margin: 10px 0;
  padding: 20px;
  border-radius: 18px;
}

.submitItem textarea {
  height: 200px;
}

.submitItem .MuiDialogActions-root {
  justify-content: space-between;
}

.submitItem #deleteItem .MuiButton-root{
  background-color: #e92222;
}

@media screen and (min-width: 1440px) {
  .submitItem input {
    height: 70px;
  }
  .submitItem textarea {
    height: 350px;
  }
}
