.mainButton {
  width: 100%;
  max-width: 320px;
}

.mainButton .MuiButton-root,
.MuiDialog-root .mainButton .MuiButton-root,
.MuiPopover-root .mainButton .MuiButton-root {
  background-color: #ffe115;
}
.mainButton .MuiButton-root { 
  height: 80px;
  width: 100%;
  border-radius: 18px;
}

.mainButton .MuiButton-label {
  color: #FFFFFF;
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 2000px) {
  .mainButton {
    max-width: 500px;
  }
  .mainButton .MuiButton-root {
    height: 100px;
  }
}

@media screen and (max-width: 1533px) {
  .mainButton .MuiButton-root {
    max-height: 50px;
  }
}
