.requests .taskInfo {
  width: 100%;
  height: calc( 100% + 8px );
  background-color: #FFFFFF;
  box-shadow: -1px 4px 70px -3px rgba(122,122,122,0.1);

  border-radius: 0 var(--default-radius) var(--default-radius) 0;
  padding: var(--deafult-top-padding) 34px 0;
  margin-top: -8px;
}

/* header */
.requests .taskInfo header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #F7F7F9;

  padding: 20px 30px;
  border-radius: 18px;
  margin-bottom: 40px;
}

.requests .taskInfo header .text {
  width: 100%;
  margin-left: 15px;
}

.requests .taskInfo header .text h2 {
  color: #335BCA;
}

.requests .taskInfo header .text .bottomText {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}
/* *** */

/* general info */
.requests .taskInfo .generalInfo .content {
  display: flex;
  height: 100%;
  margin: 30px 0;
}
.requests .taskInfo .generalInfo .content section {
  padding: 0 30px;
  width: 33%;
}
.requests .taskInfo .generalInfo .content .sideLine {
  background-color: #dddddd;
  height: auto;
  width: 1px;
}
.requests .taskInfo .generalInfo .content .result {
  letter-spacing: 2px;
}
.requests .taskInfo .generalInfo .content .contact {
  display: flex;
  justify-content: space-between;
}
.requests .taskInfo .generalInfo .content .contact img {
  width: 55px;
  margin-left: 20px;
}
/* *** */

/* itens list */
.requests .taskInfo .itensList {
  width: 100%;
  height: calc( 100% - 550px );
  overflow: auto;
}
/* *** */

/* footer */
.requests .taskInfo footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 200px;
}

.requests .taskInfo footer .MuiButton-root {
  background-color: #FE9329;
  height: 80px;
  width: 100%;
  max-width: 320px;
  border-radius: 18px;
}

.requests .taskInfo footer .MuiButton-text .MuiButton-label {
  color: #FFFFFF;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
}
/* *** */
