@media screen and (max-width: 1762px) {
  .requests .taskInfo .generalInfo .content .contact {
    justify-content: center;
  }
  .requests .taskInfo .generalInfo .content section {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1377px) {
  .mainMenu {
    width: 90px;
  }
  .mainMenu .userIcon {
    width: 50px;
    height: 50px;
  }
  .requests .taskInfo .generalInfo .content .contact {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1092px) {
  .requests .taskInfo .generalInfo .content .contact {
    justify-content: center;
  }
}
@media screen and (max-width: 801px) {
  .requests .taskInfo .generalInfo .content .contact {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1250px) {
  .requests .pageContent {
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }
  .requests .taskInfo {
    margin-top: 20px;
    border-radius: var(--default-radius);
  }
}

@media screen and (max-width: 650px) {
  .requests .taskInfo .generalInfo .content {
    flex-direction: column;
  }
  .requests .taskInfo .generalInfo .content .sideLine {
    height: 1px;
    width: auto;
  }
  .requests .taskInfo .generalInfo .content section {
    width: 100%;
    padding: 15px;
  }
  .requests .itensList .item .content {
    flex-direction: column;
    align-items: flex-start;
  }
  .requests .itensList .item .itemInfo {
    flex-direction: column;
    margin-left: var(--thumb-width);
    width: calc( 100% - var(--thumb-width) );
  }
  .requests .itensList .item .moreInfo {
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100%;
  }
}
@media screen and (max-width: 505px) {
  .mainMenu {
    width: 70px;
  }
  .mainMenu .userIcon {
    width: 40px;
    height: 40px;
  }
  .mainMenu nav svg {
    height: 30px;
  }
  .requests .pageContent .taskList,
  .requests .taskInfo {
    padding: var(--deafult-top-padding) 20px 0;
  }
  .requests .taskList .MuiTab-root .MuiTab-wrapper {
    font-size: 0.98rem !important;
  }
  .requests .itensList .item .itemInfo {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }
  .requests .itensList .item .moreInfo {
    align-items: center;
  }
  .requests .itensList .item .underlineBox {
    padding-left: 12px;
  }
}
@media screen and (max-width: 415px) {
  .requests .itensList .item p {
    text-align: center;
  }
  .requests .itensList .item .thumb {
    margin: 10px 0;
  }
  .requests .itensList .item .itemTitle {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
}

/* fix navigation at 450px */
