.requests {
  --deafult-top-padding: 48px;
}

.requests .pageContent {
  display: flex;
  width: 100%;

  background-color: #F7F7F9;
  box-shadow: 8px 8px 41px -3px rgba(122,122,122,0.61);
}

.requests .pageContent .taskList {
  width: 100%;
  max-width: 486px;
  padding: var(--deafult-top-padding) 3px 0;
}

/* Material UI tab navigation */
.requests .taskList .MuiAppBar-root {
  box-shadow: 2px 2px 20px 0px rgba(122,122,122,0.1);
}
.requests .taskList .MuiTabs-root {
  border-radius: 18px;
  background-color: #FFFFFF;
}
.requests .taskList .MuiTabs-indicator {
  height: 100%;
  background-color: #335BCA;
  border-radius: 18px;
}
.requests .taskList .MuiTab-root .MuiTab-wrapper {
  transition: 0.4s;
  width: auto;
  z-index: 4;
  color: #000000;
  
  font-size: 2.1rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.15rem;
}
.requests .taskList .Mui-selected .MuiTab-wrapper  {
  transition: 0.4s;
  color: #FFFFFF;
}
/* *** */

@media screen and (max-width: 1250px) {
  .requests .pageContent {
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }
}

@media screen and (max-width: 505px) {
  .requests .pageContent .taskList,
  .requests .taskInfo {
    padding: var(--deafult-top-padding) 20px 0;
  }
}
