.requests .pageContent {
  display: flex;
  width: 100%;

  background-color: #F7F7F9;
  box-shadow: 8px 8px 41px -3px rgba(122,122,122,0.61);
}

.requests .pageContent .taskList {
  width: 100%;
  max-width: 486px;
  padding: var(--deafult-top-padding) 3px 0;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

/* Material UI tab navigation */
.requests .taskList .MuiAppBar-root {
  box-shadow: 2px 2px 20px 0px rgba(122,122,122,0.1);
}
.requests .taskList .MuiTabs-root {
  border-radius: 18px;
  background-color: #FFFFFF;
}
.requests .taskList .MuiTabs-indicator {
  height: 100%;
  background-color: #ffe115;
  border-radius: 18px;
}
.requests .taskList .MuiTab-root .MuiTab-wrapper {
  transition: 0.4s;
  width: auto;
  z-index: 4;
  color: #000000;
  
  font-size: 2.1rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.15rem;
}
.requests .taskList .Mui-selected .MuiTab-wrapper {
  transition: 0.4s;
  color: #FFFFFF;
}
/* *** */

@media screen and (min-width: 2000px) {
  .requests .pageContent .taskList {
    max-width: 610px;
  }
} 

@media screen and (max-width: 1262px) {
  .requests .pageContent .taskList {
    max-width: 400px;
  }
  .requests .pageContent button {
    min-width: fit-content;
    width: 33.333%;
  }
}

@media screen and (max-width: 1100px) {
  .requests .pageContent .taskList {
    max-width: 340px;
  }
}

@media screen and (max-width: 920px) {
  .requests .pageContent .taskList {
    max-width: 280px;
  }
}

@media screen and (max-width: 770px) {
  .requests .pageContent {
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
}

@media screen and (max-width: 650px) {
  .requests .pageContent .taskList,
  .requests .taskInfo {
    padding: var(--deafult-top-padding) 20px 0;
  }
  .requests .pageContent .taskList {
    max-width: 520px;
  }
}
