@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body, #root, .App {
  height: 100vh;
}
html {
  font-size: 62.5%;
}

/* text */
body, #root .MuiButton-root, #root .MuiTabs-flexContainer span, .price {
  font-family: -apple-system, 'Lobster', 'pacifico', 'Open Sans Condensed', 'Roboto', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  /* fix to 30px result */
  font-size: 3.9rem;
}
h2 {
  font-size: 2.9rem;
  color: #1F1F21;
}
p {
  font-family: -apple-system, 'Roboto', 'Ubuntu', sans-serif;
  font-size: 2.3rem;
  color: #1F1F21;
}
span {
  font-size: 1.9rem;
  color: #6d6d6d;
}
p, span {
  font-weight: 400;
}
/* *** */

button {
  cursor: pointer;
}

.page {
  display: flex;
  background-color: #22222E;
  height: 100%;
  box-shadow: 8px 8px 41px -3px rgba(122,122,122,0.61);
}

@media screen and (max-width: 505px) {
  html {
    font-size: 45%;
  }
}
