@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body, #root, .App {
  height: 100vh;
}
html {
  font-size: 62.5%;
}

/* text */
body,
.price, #root .productsRowHeader h2,
#root .MuiTabs-flexContainer span,
#root .MuiButton-root,
.MuiDialog-root .mainButton .MuiButton-root,
.MuiPopover-root .mainButton .MuiButton-root {
  font-family: -apple-system, 'Lobster', 'pacifico', 
  'Open Sans Condensed', 'Roboto', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  /* fix to 30px result */
  font-size: 3.9rem;
}
h2 {
  font-size: 2.9rem;
  color: #1F1F21;
}
p, input, textarea {
  font-family: -apple-system, 'Roboto', 'Ubuntu', sans-serif;
  font-size: 2.3rem;
  color: #1F1F21;
}
span {
  font-size: 1.9rem;
  color: #6d6d6d;
}
p, span {
  font-weight: 400;
}
/* *** */

button {
  cursor: pointer;
}
input, textarea {
  border: none;
}

.page {
  --deafult-top-padding: 48px;
  display: flex;
  height: 100%;
  box-shadow: 8px 8px 41px -3px rgba(122,122,122,0.61);
}

.print {
  display: none;
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 45%;
  }
}
