@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    letter-spacing: normal !important;
    page-break-before: auto !important;
  }

  html {
    font-size: 45%;
  }

  body {
    margin: 0;
    padding: 0;
  }

  @page {
    margin-bottom: 2cm;
    overflow: visible !important;
    size: auto;
  }

  nav,
  video,
  audio,
  img,
  svg,
  button,
  input,
  .mainMenu,
  .taskList,
  .preparingTime {
    display: none !important;
  }

  footer .infos {
    justify-content: flex-end !important;
  }

  .requests .pageContent,
  .requests .taskInfo {
    overflow: hidden !important;
    height: fit-content;
  }

  .requests .taskInfo {
    padding: 0;
  }

  .print {
    display: block !important;
  }

  head.print {
    display: flex;
    flex-direction: column;
  }

  footer.print img {
    width: 25%;
    position: absolute;
    top: -1cm;
    right: 0;
    opacity: 80%;
  }

  a {
    text-decoration: none;
  }

  p {
    padding: 0 !important;
  }
}

@media print and (max-width: 600px) {
  footer.print img {
    top: -0.5cm;
  }

  .requests .taskInfo .mainInfo .content section {
    padding: 5px 0;
  }
}